.alert-success{
	width: 400px;
	background-color: green;
}

.alert-unsuccess{
	width: 400px;
	background-color: red;
}

.main{
	width: 100%; 
	display: inline-flex;
	justify-content: center;
	
}

body{
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: Sansita One, sans-serif;
	background-color: #f2f2f2;
}

.log{
	margin: 10px, 0px, 10px, 0px;
	width: 350px;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

form{
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	border:1px solid #B0C4DE;
	border-radius: 0px, 0px, 10px, 10px;
}

p{
	text-align: justify;
}